* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    // background-color: #000;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}